{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'dual-product-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'typing-effect.js' | asset_url }}" defer="defer"></script>

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .section-{{ section.id }}-padding > div{
      margin-top: {{ section.settings.margin_top_mobile }}px;
      margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
    }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .section-{{ section.id }}-padding > div{
      margin-top: {{ section.settings.margin_top_desktop }}px;
      margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
    }
  }
{%- endstyle -%} 

<div class="color-{{ section.settings.color_scheme }} isolate gradient section-{{ section.id }}-padding dual-product-slider--section">
<div>
  <div class="page-width">
    <div class="dual-slider-product-head center" data-aos="fade-up" data-aos-duration="800">
      {%- if section.settings.title != blank -%}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} b-900">
          <typing-effect data-text="{{ section.settings.title | strip_html }}" data-speed="{{ section.settings.typing_speed }}" data-delay="{{ section.settings.typing_delay }}">{{ section.settings.title  | strip_html | escape }}</typing-effect>
        </h2>
      {%- endif -%}
    </div>
    <div class="dual-product-slider">
      {%- for block in section.blocks -%}
        {%- liquid
          assign block_collection = block.settings.collection
          assign products_to_display = block_collection.all_products_count
          
          if block_collection.all_products_count > block.settings.products_to_show
            assign products_to_display = block.settings.products_to_show
          endif

          assign columns_mobile_int = section.settings.columns_mobile | plus: 0
          assign columns_desktop_int = section.settings.columns_desktop | plus: 0
          
          assign show_mobile_slider = false
          if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
            assign show_mobile_slider = true
          endif

          assign max_columns_to_show = columns_mobile_int
          if columns_desktop_int > columns_mobile_int
            assign max_columns_to_show = columns_desktop_int
          endif

          assign show_desktop_slider = false
          if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
            assign show_desktop_slider = true
          endif
          
        -%}

        <div class="dps-block" {{ block.shopify_attributes }}>
          <div class="dps-grid dps-grid--{{ block.settings.layout }}">
            <div class="dps-item dps-item__card" data-aos="fade-up" data-aos-duration="800" data-aos-delay="{{ forloop.index | times: 200 }}">
              <div class="dps-card gradient color-{{ block.settings.card_color_scheme }}">
                <div class="dps-card__head">
                  <div class="dps-card__dots">
                    <slider-dots-cs class="block">
                      <div class="slider-dots__container">
                        {% for i in (1..products_to_display) %}
                          <div class="slider-bar {% if forloop.first %} active{% endif %}"> </div>
                        {% endfor %}
                      </div>
                    </slider-dots-cs>
                  </div>
                  {%- if block.settings.icon != blank -%}
                    <div class="dps-card__icon"> <div class="media media--transparent ratio" style="--ratio-percent: {{ 1 | divided_by: block.settings.icon.aspect_ratio | times: 100 }}%;"> {{ block.settings.icon | image_url: width: 150 | image_tag: loading: 'lazy', width: block.settings.icon.width, height: block.settings.icon.height }}</div></div>
                  {%- endif -%}
                </div>
                {%- if block.settings.title != blank -%}
                  <h3 class="dps-card__title h0">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.description != blank -%}
                  <div class="dps-card__description rte">{{ block.settings.description }}</div>
                {%- endif -%}
              </div>
            </div>
            
            <div class="dps-item dps-item__products" data-aos="fade-up" data-aos-duration="800" data-aos-delay="{{ forloop.index | times: 200 | plus: 100 }}">
              {%- if block_collection != blank and block_collection.products.size > 0 -%}
                <slider-component class="slider-mobile-gutter{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}" data-slides-per-view-mobile="1" data-slides-per-view-desktop="{{ section.settings.columns_desktop }}">
                  <ul
                    id="Slider-{{ section.id }}-{{ block.id }}"
                    data-id="{{ section.id }}-{{ block.id }}"
                    class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
                    role="list"
                    aria-label="{{ 'general.slider.name' | t }}"
                  >
                    {%- assign skip_card_product_styles = false -%}
                    {%- assign lazy_load = false -%}
                    {%- for product in block_collection.products limit: block.settings.products_to_show -%}
                      {%- if lazy_load == false and forloop.index > max_columns_to_show -%}
                        {%- assign lazy_load = true -%}
                      {%- endif -%}
                      <li
                        id="Slide-{{ section.id }}-{{ block.id }}-{{ forloop.index }}"
                        class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}"
                      >
                        {% render 'card-product-prime',
                          card_product: product,
                          media_aspect_ratio: section.settings.image_ratio,
                          image_shape: section.settings.image_shape,
                          lazy_load: lazy_load,
                          show_secondary_image: section.settings.show_secondary_image,
                          show_vendor: section.settings.show_vendor,
                          show_rating: section.settings.show_rating,
                          skip_styles: skip_card_product_styles,
                          section_id: section.id,
                          quick_add: section.settings.quick_add
                        %}
                      </li>
                      {%- assign skip_card_product_styles = true -%}
                    {%- endfor -%}
                  </ul>
                  
                  {%- if show_mobile_slider or show_desktop_slider -%}
                    <div class="slider-buttons slider-buttons-secondary">
                       <div class="slider-counter caption hidden">
                        <span class="slider-counter--current">1</span>
                        <span aria-hidden="true"> / </span>
                        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                        <span class="slider-counter--total">{{ products_to_display }}</span>
                      </div>
                      <div class="slider-buttons-secondary__wrap">
                        <button
                          type="button"
                          class="slider-button slider-button--prev slider-button--round"
                          name="previous"
                          aria-label="{{ 'general.slider.previous_slide' | t }}"
                          aria-controls="Slider-{{ section.id }}-{{ block.id }}"
                        >
                          <span class="svg-wrapper">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        </button>
                        <button
                          type="button"
                          class="slider-button slider-button--next slider-button--round"
                          name="next"
                          aria-label="{{ 'general.slider.next_slide' | t }}"
                          aria-controls="Slider-{{ section.id }}-{{ block.id }}"
                        >
                          <span class="svg-wrapper">
                            {{- 'icon-caret.svg' | inline_asset_content -}}
                          </span>
                        </button>
                      </div>
                    </div>
                  {%- endif -%}
                </slider-component>
              {%- else -%}
                <div class="grid product-grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down">
                  {%- for i in (1..section.settings.columns_desktop) -%}
                    <div class="grid__item">
                      {%- liquid
                        assign ridx = forloop.rindex
                        case ridx
                          when 5
                            assign ridx = 1
                          when 6
                            assign ridx = 2
                        endcase
                        assign placeholder_image = 'product-apparel-' | append: ridx
                      -%}
                      {% render 'card-product',
                        show_vendor: section.settings.show_vendor,
                        media_aspect_ratio: section.settings.image_ratio,
                        image_shape: section.settings.image_shape,
                        placeholder_image: placeholder_image
                      %}
                    </div>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
  {%- if section.settings.image_shape == 'arch' -%}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Dual Product Slider",
  "tag": "section",
  "class": "section",
  "max_blocks": 2,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading",
      "default": "Featured Products"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "range",
      "id": "typing_speed",
      "min": 30,
      "max": 200,
      "step": 10,
      "unit": "ms",
      "label": "Typing speed",
      "default": 80,
      "info": "Base speed of typing animation (lower is faster, recommended: 60-100ms)"
    },
    {
      "type": "range",
      "id": "typing_delay",
      "min": 0,
      "max": 2000,
      "step": 100,
      "unit": "ms",
      "label": "Typing delay",
      "default": 500,
      "info": "Delay before typing starts when title enters viewport"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Product Grid Settings"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "header",
      "content": "Product Card Settings"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": true,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "header",
      "content": "Desktop Margin"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin bottom (Desktop)",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile Margin"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin bottom (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "collection_block",
      "name": "Collection Block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
          "type": "range",
          "id": "products_to_show",
          "min": 2,
          "max": 25,
          "step": 1,
          "default": 6,
          "label": "t:sections.featured-collection.settings.products_to_show.label"
        },
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "info_left",
              "label": "Info card on left"
            },
            {
              "value": "info_right",
              "label": "Info card on right"
            }
          ],
          "default": "info_left",
          "label": "Layout"
        },
        {
          "type": "header",
          "content": "Info Card"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Hot Selling"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>"
        },
        {
          "type": "color_scheme",
          "id": "card_color_scheme",
          "label": "Card color scheme",
          "default": "scheme-2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Dual Product Slider",
      "blocks": [
        {
          "type": "collection_block",
          "settings": {
            "title": "Hot Selling",
            "layout": "info_left"
          }
        },
        {
          "type": "collection_block",
          "settings": {
            "title": "New Arrivals",
            "layout": "info_right"
          }
        }
      ]
    }
  ]
}
{% endschema %}
