<style>
    .section--{{ section.id }} .product-section-main{
        display:flex;
        max-width:1440px;
        padding-left:20px;
        padding-right:20px;
        margin:0 auto;
        gap:5px;
    }
    .section--{{ section.id }} .product-section-main.swipe-section{
        flex-direction: row-reverse;
    }
    .section--{{ section.id }} .product-section-main .left-block{
        width: 27.5%;
    }
    .section--{{ section.id }} .product-section-main .right-block{
        width: 72.5%;
    }
    .section--{{ section.id }} .left-block .inner-left{
        background-color:#F8EDED;
        border: 1px solid #E6E6E6;
        border-radius: 12px;
        padding: 40px 30px;
    }
    .section--{{ section.id }} .left-block .inner-left h2 {
        margin:0;
        font-size:56px;
        font-weight:900;
        line-height:1;
        text-transform: uppercase;
        letter-spacing: 0;
    }
    .section--{{ section.id }} .product-reviews{
        color: #000;
        text-align: center;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        text-transform: capitalize;
        padding: 8px 0px 12px;
    }
    .section--{{ section.id }} .left-block .inner-left .content {
        padding-top: 52px;
    }
    .section--{{ section.id }} .left-block .inner-left .content *{
        font-size:16px;
        margin: 0;
    }
    .section--{{ section.id }} .inner-product-card {
        padding: 10px;
        box-shadow: 0px 2px 8px 0px #00000014;
        border: 1px solid #E0E0E0;
        border-radius: 16px;
    }
    .section--{{ section.id }} .product-img {
        border-radius: 8px;
    }
    .section--{{ section.id }} .product-img img {
        width: 100%;
    }
    .section--{{ section.id }} .product-content {
        text-align: center;
        padding: 10px 0px;
    }
    .section--{{ section.id }} .product-content .product-title{
        color: #000;
        text-align: center;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    }
    .section--{{ section.id }}{
        padding-top:{{section.settings.padding_top}}px;
        padding-bottom:{{section.settings.padding_bottom}}px;
        background: {{ section.settings.bg_color }};
    }
    .section--{{ section.id }} .swiper-button-next,
    .section--{{ section.id }} .swiper-button-prev{
        display: block;
        background: #F9481B;
        width: 54px;
        height: 54px;
        line-height: 55px;
        text-align: center;
        border-radius: 50px;
        border: 3px solid #fff;
        box-sizing: border-box;
    }
    .section--{{ section.id }} .swiper-button-prev{
        padding-right: 4px;
        left: -2px;
    }
    .section--{{ section.id }} .swiper-button-next{
        padding-left: 4px;
        right: -2px;
    }
    .section--{{ section.id }} .swiper-button-next:after,
    .section--{{ section.id }} .swiper-button-prev:after{
        color:#fff;
        font-size: 20px;
    }
    .section--{{ section.id }} .swiper {
        padding-left: 15px;
        padding-right: 17px;
        padding-bottom: 10px;
    }
    
    .left-block .inner-left .icon-img {
        margin-bottom: 40px;
    }
    @media (max-width:768px){
        .section--{{ section.id }}{
            padding-top:{{section.settings.padding_top_mobile}}px;
            padding-bottom:{{section.settings.padding_bottom_mobile}}px;
        }
      }
</style>
<div class="section--{{ section.id }}">
    <div class="product-section-main {% if section.settings.swipe_section == true %} swipe-section {% endif %}">
        <div class="left-block align-{{ section.settings.text_alignment }}">
        <div class="inner-left">
            <div class="custom-dots"></div>
            <div class="icon-img">
            {% if section.settings.icon_image != blank %}
                <img src="{{ section.settings.icon_image | img_url: '100x' }}" alt="Icon" width="" height="">
            {% endif %}
            </div>
            <h2 style="color: {{ section.settings.heading_color }}">
            {{ section.settings.heading }}
            </h2>
            <div class="content">
            {{ section.settings.content }}
            </div>
        </div>
        </div>
    
        <div class="right-block">
        
            <div class="swiper product-swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                {% if block.type == 'product_card' %}
                    {% assign product_obj = all_products[block.settings.product] %}
                    <div class="swiper-slide">
                    <div class="inner-product-card">
                        <div class="product-img">
                        {% if block.settings.override_product_image != blank %}
                            <img src="{{ block.settings.override_product_image | img_url: '500x' }}" alt="{{ block.settings.override_title | default: product_obj.title }}" width="" height="">
                        {% else %}
                            <img src="{{ product_obj.featured_image | img_url: '500x' }}" alt="{{ product_obj.title }}" width="" height="">
                        {% endif %}
                        </div>
                        <div class="product-content">
                        <div class="product-title">
                            {{ block.settings.override_title | default: product_obj.title }}
                        </div>
                        {% if block.settings.override_reviews != blank %}
                        <div class="product-reviews">
                            {{ block.settings.override_reviews }} reviews
                        </div>
                        {% endif %}
                        <a href="{{ block.settings.override_link | default: product_obj.url }}" class="btn-wrap">
                            order now 
                            <svg class="colored" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M6 12L10 8L6 4" stroke="#FF4411" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <svg class="white" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M6 12L10 8L6 4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                              
                        </a>
                        </div>
                    </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            {% comment %} <div class="swiper-pagination"></div> {% endcomment %}
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
 </div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sectionSelector = '.section--{{ section.id }}';
        const section = document.querySelector(sectionSelector);
        const swiperContainer = section.querySelector('.product-swiper');
        const totalSlides = swiperContainer.querySelectorAll('.swiper-slide').length;
        const swiper = new Swiper(`${sectionSelector} .product-swiper`, {
          loop: true,
          slidesPerView: 3,
          spaceBetween: 16,
          pagination: {
            el: `${sectionSelector} .swiper-pagination`,
            clickable: true,
          },
          navigation: {
            nextEl: `${sectionSelector} .swiper-button-next`,
            prevEl: `${sectionSelector} .swiper-button-prev`,
          },
      
          breakpoints: {
            320: { slidesPerView: 1, spaceBetween: 10 },
            640: { slidesPerView: 2, spaceBetween: 15 },
            1024: { slidesPerView: 3, spaceBetween: 20 },
          },
      
          on: {
            init() {
              checkArrows.call(this);
            },
            resize() {
              checkArrows.call(this);
            }
          }
        });
      
        function checkArrows() {
          const arrows = section.querySelectorAll('.swiper-button-next, .swiper-button-prev');
      
          const currentSlides =
            this.currentBreakpoint &&
            this.params.breakpoints[this.currentBreakpoint]?.slidesPerView
              ? this.params.breakpoints[this.currentBreakpoint].slidesPerView
              : this.params.slidesPerView;
      
          if (totalSlides <= currentSlides) {
            arrows.forEach(a => (a.style.display = 'none'));
            this.allowSlideNext = false;
            this.allowSlidePrev = false;
          } else {
            arrows.forEach(a => (a.style.display = 'block'));
            this.allowSlideNext = true;
            this.allowSlidePrev = true;
          }
        }
      });
        
  </script>
  
{% schema %}
{
    "name": "Product section",
    "settings": [
      {
        "type": "checkbox",
        "id": "swipe_section",
        "label": "Swipe",
        "default":false
      },
      {
        "type": "image_picker",
        "id": "icon_image",
        "label": "Left Icon Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Hot Selling"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#000000"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "right", "label": "Right" }
        ],
        "default": "left"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top(mobile)",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom(mobile)",
        "default": 20
      }
    ],
  
    "blocks": [
      {
        "type": "product_card",
        "name": "Product Card",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Select Product"
          },
          {
            "type": "image_picker",
            "id": "override_product_image",
            "label": "Override Product Image"
          },
          {
            "type": "text",
            "id": "override_title",
            "label": "Override Product Title"
          },
          {
            "type": "text",
            "id": "override_reviews",
            "label": "Override Review Text"
          },
          {
            "type": "url",
            "id": "override_link",
            "label": "Override Button Link"
          }
        ]
      }
    ],
  
    "presets": [
      {
        "name": "Product section"
      }
    ]
  }
  
{% endschema %}