{{ 'marquee-section.css' | asset_url | stylesheet_tag }}
<script src="{{ 'marquee-section.js' | asset_url }}" defer="defer"></script>

{%- style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    margin-top: {{ section.settings.margin_top_mobile }}px;
    margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top_desktop }}px;
      margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
    }
  }
{%- endstyle %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient">
  <marquee-section
    id="marquee-{{ section.id }}"
    class="marquee{% if section.settings.autoplay %} marquee--autoplay{% endif %}"
    data-autoplay="{{ section.settings.autoplay }}"
  >
    <div class="marquee-grid">
      {% for i in (1..8) %}
        <div class="marquee-list">
          {% for block in section.blocks %}
            <div class="marquee-list__item">
              {% if block.settings.icon != blank %}
                <img
                  src="{{ block.settings.icon | image_url }}"
                  alt="{{ block.settings.text }}"
                  class="marquee__icon"
                  height="40"
                  width="40"
                  loading="lazy"
                >
              {% endif %}
              <h2 class="marquee-text {{ section.settings.heading_size }} {{ section.settings.font_heading_family }} {{ section.settings.font_weight }}">
                {{ block.settings.text }}
              </h2>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </marquee-section>
</div>

{% schema %}
{
  "name": "Marquee Section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-3"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable Infinite Autoplay",
      "default": true,
      "info": "If unchecked, the marquee will move on scroll when in viewport."
    },
    {
      "type": "select",
      "id": "font_heading_family",
      "label": "Font heading family",
      "options": [
        {
          "label": "body",
          "value": "f-body"
        },
        {
          "label": "heading",
          "value": "f-head"
        }
      ],
      "default": "f-body"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "f-12",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "f-13",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "f-14",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "f-16",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "f-18",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h2",
          "label": "Heading 2 (h2)"
        },
        {
          "value": "h3",
          "label": "Heading 3 (h3)"
        }
      ],
      "default": "h3",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight",
      "options": [
        { "label": "100 (Thin)", "value": "b-100" },
        { "label": "200 (Extra Light)", "value": "b-200" },
        { "label": "300 (Light)", "value": "b-300" },
        { "label": "400 (Normal)", "value": "b-400" },
        { "label": "500 (Medium)", "value": "b-500" },
        { "label": "600 (Semi Bold)", "value": "b-600" },
        { "label": "700 (Bold)", "value": "b-700" }
      ],
      "default": "b-300"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 13
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top mobile",
      "default": 13
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 13
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom mobile",
      "default": 13
    },
    {
      "type": "header",
      "content": "Desktop Margin"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin bottom (Desktop)",
      "default": 0
    },
    {
      "type": "header",
      "content": "Mobile Margin"
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Margin bottom (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "marquee_item",
      "name": "Marquee Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Marquee Item"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee Section",
      "blocks": [
        {
          "type": "marquee_item"
        },
        {
          "type": "marquee_item"
        },
        {
          "type": "marquee_item"
        }
      ]
    }
  ]
}
{% endschema %}
